[2021-09-13 18:20] brettasmi commented on #240
Thanks @sierra-moxon for your replies, which have generated some new questions :)

1. You wrote:

This isn't quite right. SPOKE ingests CIViC, which has an evidence section for each of its assertions. The publication falls in this evidence section, e.g. https://civic.genome.wustl.edu/links/evidence_items/447

Does that change your interpretation at all?

2. > CIVIC might be the 'primary knowledge

[2021-09-13 23:26] sierra-moxon commented on #240
Yes, that makes sense, thanks for the link! :)   Karthik wasn't sure if the publication was added via spoke or civic, but he took a look at the code and said that it was likely civic.  So, in the example above, we used civic as the "attribute_source" for the actual publication 'attribute.'

This is a good question.  I am leaning towards "yes" -- perhaps we should also consider 'original knowledge

[2021-09-14 13:09] sstemann commented on #238
@vdancik just checking in on this one - the notebook is here:  https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowA/KCNMA1DemoNotebook.ipynb

When @MarkDWilliams submitted the notebook last month we did great results.

[2021-09-14 13:10] sstemann commented on #239
@andrewsu  just checking in on this one - the notebook is here:  https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowA/KCNMA1DemoNotebook.ipynb

When @MarkDWilliams submitted the notebook last month we did great results.

[2021-09-14 23:07] vdancik commented on #238
@sstemann It appears that none of the MolePro sources have a connection between KCNMA1 and methamphetamine.

[2021-09-15 20:29] edeutsch commented on #231
This is now fixed. okay to close?

[2021-09-16 12:36] vgardner-renci commented on #231
![image](https://user-images.githubusercontent.com/83781286/133613155-17e2e678-6178-4068-8a40-93b34bd97995.png)

[2021-09-16 12:36] #231 closed

[2021-09-16 12:40] vgardner-renci commented on #238
@vdancik Is it out of scope for Molepro?

[2021-09-16 13:11] vgardner-renci commented on #204
https://arax.ncats.io/?source=ARS&id=718eb8c4-5fbc-475c-a5f4-34ff390f28fe

Results are present

[2021-09-16 13:11] #204 closed

[2021-09-16 13:12] vgardner-renci commented on #211
Results are present

https://arax.ncats.io/?source=ARS&id=eaef59d1-ad7c-423c-b67d-ec02ca227cd4

[2021-09-16 13:13] vgardner-renci commented on #20
Molepro returning results

https://arax.ncats.io/?source=ARS&id=718eb8c4-5fbc-475c-a5f4-34ff390f28fe

[2021-09-16 13:13] #20 closed

[2021-09-16 13:15] vgardner-renci commented on #112
This query is now listed as an alternate for the December Demo

[2021-09-16 13:31] vgardner-renci commented on #212
https://arax.ncats.io/?source=ARS&id=eaef59d1-ad7c-423c-b67d-ec02ca227cd4

[2021-09-16 13:32] vgardner-renci commented on #210
https://arax.ncats.io/?source=ARS&id=eaef59d1-ad7c-423c-b67d-ec02ca227cd4

[2021-09-16 13:33] vgardner-renci commented on #207
https://arax.ncats.io/?source=ARS&id=eaef59d1-ad7c-423c-b67d-ec02ca227cd4

[2021-09-16 13:34] vgardner-renci commented on #206
https://arax.ncats.io/?source=ARS&id=718eb8c4-5fbc-475c-a5f4-34ff390f28fe

[2021-09-16 13:35] vgardner-renci commented on #180
ARAX returning results

https://arax.ncats.io/?source=ARS&id=05813780-a0d9-455e-9c93-d0f5fbbb07a3

[2021-09-16 13:36] vgardner-renci commented on #179
ARAX returning results

https://arax.ncats.io/?source=ARS&id=e6adfae6-2e58-4cc1-bf6a-87c6775bde7e

[2021-09-16 13:38] vgardner-renci commented on #148
This query is not currently a part of the demo.

[2021-09-16 13:38] #148 closed

[2021-09-16 13:38] vgardner-renci commented on #143
The query is not currently a part of the demo.

[2021-09-16 13:38] #143 closed

[2021-09-16 13:39] vgardner-renci commented on #132
https://arax.ncats.io/?source=ARS&id=58b7d225-8e9b-453e-9f8b-3ebe640eaaca

[2021-09-16 13:40] vgardner-renci commented on #131
https://arax.ncats.io/?source=ARS&id=58b7d225-8e9b-453e-9f8b-3ebe640eaaca

[2021-09-16 13:40] vgardner-renci commented on #124
https://arax.ncats.io/?source=ARS&id=50b289a9-f9be-4a0c-8b97-a79348532fcc

[2021-09-16 13:41] vgardner-renci commented on #124
@pg427 is a three hop query out of scope for Explanatory or will it be part of a new release.

[2021-09-16 13:41] vgardner-renci commented on #122
This query is an alternate.

[2021-09-16 13:41] #122 closed

[2021-09-16 13:42] vgardner-renci commented on #119
https://arax.ncats.io/?source=ARS&id=d80a01b8-d3e9-4699-b248-b7e1c2c01fa2

[2021-09-16 13:44] #112 closed

[2021-09-16 13:48] vgardner-renci commented on #100
https://arax.ncats.io/?source=ARS&id=e5b3b658-0056-4c9f-998e-1c9298ef3464

[2021-09-16 13:54] #185 closed

[2021-09-16 14:36] brettasmi commented on #240
This is to be discussed at either the minihackathon or the data modeling call today.

[2021-09-16 14:37] brettasmi commented on #224
We are working with the clinical KPs to retrieve this data. Hopefully we'll have something implemented ahead of the Relay with more robust coverage by the demo.

[2021-09-16 14:37] brettasmi commented on #211
We are now returning results for this, but they are not properly constrained. Hope to have the constraints implemented by EOW.

[2021-09-16 14:38] brettasmi commented on #11
Fixed.

[2021-09-16 14:38] #11 closed

[2021-09-16 15:04] vdancik commented on #238
No, it is not out of scope. MolePro has connections between methamphetamine and other genes, but not KCNMA1.

[2021-09-16 15:22] tursynay commented on #119
Will said these tickets are being worked on currently

[2021-09-16 15:22] tursynay commented on #179
Kara said this query is somewhat outdated, there have been changes made

[2021-09-16 15:23] tursynay commented on #201
Aragorn was having issues last night.

[2021-09-16 15:25] tursynay commented on #237
Gregory mentioned that they are working with Expander Agent on this issue.

[2021-09-16 15:26] tursynay commented on #239
No updates as of mini-hack today

[2021-09-16 15:27] tursynay commented on #241
Chris said this issue is being currently worked on.

[2021-09-16 16:16] mbrush commented on #240
Hi @brettasmi @sierra-moxon

I agree with sierra's responses, and the latest set of attributes look right to me for the most part.  One question and a few comments:

1. Question: What are the plain language semantics of the assertions represented in Edges based on CIViC records?  And what SPO structure is used to capture is this?  I gather from above that relate a subject gene to an object chemica

[2021-09-16 16:29] vgardner-renci opened #275 "ARS should return more useful status messages for async queries."

[2021-09-16 16:32] vgardner-renci opened #276 "Progress tracker needs to handle better the completion of async queries"
@cbizon as discussed by chris in hackathon

[2021-09-16 16:50] vgardner-renci opened #277 "B.3b Aragorn and ARAX not returning COHD results"
https://arax.ncats.io/?source=ARS&id=7f7e3836-33ce-4665-a315-4dea5ee757fa

![image](https://user-images.githubusercontent.com/83781286/133653004-01bb1ec2-b5ab-4641-9b3b-3c39def2e1bc.png)

[2021-09-16 17:29] rtroper opened #278 "Nimodipine no longer in workflow query C.2 results"
In April 2021, query C.2 results (from ARAX) included nimodipine, a particularly interesting result: https://arax.ncats.io/beta/?r=8461. However, this result no longer shows up. It was thought this may be due to updates/issues in the ARAX ranking algorithm, prompting the following issue in the RTX repo: https://github.com/RTXteam/RTX/issues/1627. Subsequently, the follow issue (in ranking) was fou

[2021-09-16 18:30] brettasmi commented on #240
@mbrush to answer your question

In plain language, this might be written as "This medication affects the expression of a mutant gene," where "mutant gene" refers to a specific variant that is specified in another attribute in the array above. This is currently being returned as `SmallMolecule - process_regulates_process -> Gene` which thus far is an uncaught bug, so thanks for making me check :).

[2021-09-17 15:01] vgardner-renci opened #282 "ARAX returning spurious "causes" edges from SEMMED in B.4b"
https://arax.ncats.io/?source=ARS&id=f75efc18-baf9-483e-a224-3f266bf39b13

[2021-09-17 16:20] brettasmi commented on #240
Fixed.

Thanks to @sierra-moxon and @mbrush for all of the guidance!

[2021-09-17 16:21] brettasmi commented on #211
We are now constraining on this FDA approval attribute.

[2021-09-17 16:21] #211 closed

[2021-09-19 21:03] edeutsch commented on #282
This is the query I seem to recall that we were discussing related to copious spurious SemMedDB edges:
https://arax.ncats.io/?source=ARS&id=d1fe78a8-0f74-43ad-a13f-573a348e3472
https://arax.ncats.io/?r=25827

[2021-09-20 23:58] mbrush commented on #240
Hi @brettasmi (also tagging @sierra-moxon) - I'd like to revisit the semantics you assign to the CIViC data in your associations, as I think it may not be accurately representing the statements made in this knowledgebase.  Specifically, the statement made in the record you link to above (https://civicdb.org/events/genes/67/summary/variants/175/summary/evidence/447/summary#evidence) describes a var

[2021-09-22 20:02] rtroper opened #289 "Workflow C.1a timeout preventing results from clinical risk KP"
Submitting [workflow query C.1a](https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowC/C.1a_SmallMolecule_real_world_evidence_MultSclerosis.json) directly to BTE (https://api.bte.ncats.io/v1/query) or the clinical risk KP endpoint (https://api.bte.ncats.io/v1/smartapi/d86a24f6027ffe778f84ba10a7a1861a/query) yields results in about 5 seconds. When submitted to the ARS,

[2021-09-22 20:52] rtroper opened #290 "Workflow query C.2 help with NGD overlays"
Query C.2 gives best results by making use of normalized google distance overlays. We have used the ARAX DSL to play around with variations on this query to get it working well and giving decent results. Once this was done, we copied the JSON conversion of the DSL query from the ARAX UI (by clicking on the {json} button).

Current queries [C.2a](https://github.com/NCATSTranslator/minihackathons/bl

[2021-09-23 00:09] edeutsch commented on #290
Hi @rtroper, it is not always possible to translate DSL programs into TRAPI that will do exactly the same thing because of the flexibility of the DSL. However, in this it looks like you haven't done anything fancy, so it should be fine. Just take the output JSON and *remove* the NGD edges and you should get something that is equivalent. That won't always be possible, but should be in this case. I

[2021-09-23 00:42] rtroper commented on #290
Oops, thanks for pointing that out ("_Note that I also fixed your predicates=genetic_association to predicates=biolink:genetic_association_"). I've updated it, above.

Okay, I'll just exclude the NGD edges for now. I thought there might be a way to use an overlay in the workflow section of the TRAPI that uses normalized google distance. In the case of this rather complex query, I've found that the

[2021-09-23 01:19] brettasmi commented on #240
@mbrush

Thanks for your comments. I am not an expert in SPOKE's data and commented beyond my expertise on the plain English meaning of the CIVIC data, sorry.

Indeed, SPOKE's curators define those relationships as "Compound-AFFECTS-MutantGene" which is a bit higher level and does not specify anything about expression. However, when we had to map our internal relationships to the existing predicat

[2021-09-23 01:37] dkoslicki commented on #290
@rtroper the trick here is the following: when ARAX is presented with a TRAPI query, if it fits one of the pre-defined templates, we decorate it with some extra stuff (you can take a look [here](https://github.com/RTXteam/RTX/blob/master/code/ARAX/ARAXQuery/ARAX_query_graph_interpreter_templates.yaml#L214) to see exactly what happens) which in your case will auto-decorate it with NGD.

As Eric men

[2021-09-23 02:31] dkoslicki commented on #290
@rtroper Here's an exact duplicate of your DSL query in the workflow language (i.e. can be posted to the ARS and ARAX will know what to do with it):
[code]
Note that you are overlaying the NGD edges twice for the same pair of two nodes: you have an n2->n3 and an n3->n2. Since NGD is symmetric, this won't really add anything. Perhaps you wanted a different pair of nodes?

[2021-09-23 05:52] rtroper commented on #290
Thanks, @dkoslicki, this is really helpful! I'll try this query out and update the query json files in the workflow C folder. I had noticed I had two NGD edges between the same two nodes. And I had indeed assumed the NGD relation was symmetric, but at one point I took one out and I thought I ended up with different results. Either I'm remembering wrong, or perhaps duplicating the edge somehow impa

[2021-09-23 06:35] rtroper commented on #290
Interesting, I tried the query with (1) all three NGD edges (N1, N2, N3), (2) only NGD edges N1, N2, and (3) only NGD edges N2, N3 and here's what I got (screenshot below). Results are the same for scenarios 1 and 3, and completely different for scenario 2. I guess that decides it. I'll go with scenario 3. Not sure why results would be so different for scenario 2.

![image](https://user-images.git

[2021-09-23 07:13] rtroper commented on #278
An update on this - the best I've managed to do is get nimodipine to show up as result number 2414. And this result I found shows up as "(s)-nimodipine" and doesn't have many genes connected to it (1 or 2). It doesn't appear to be the same result that Amy tracked down when she specified nimodipine for node 3. There seem to be some other interesting results. We might need to give up on the nimodipi

[2021-09-23 13:31] vgardner-renci commented on #233
@cbizon dependent issue closed. Is this issue resolved in Aragorn?

[2021-09-23 13:32] vgardner-renci commented on #229
@cbizon dependent issue closed. Is this issue resolved for Aragorn?

[2021-09-23 13:38] vgardner-renci commented on #214
@amykglen @edeutsch any update on deployment?

[2021-09-23 13:52] vgardner-renci commented on #100
@andrewsu the dependent case is closed. As of this morning, there is still a 598 error for BTE.

[2021-09-23 14:08] dkoslicki commented on #290
That’s quite curious! Do you mind sharing the link to all 3 of those results? I’m now thinking that the extra edge might impact the max flow, Frobenius norm, and longest path portions of the ranking, but I’ll need to check.

[2021-09-23 14:14] dkoslicki commented on #289
@rtroper you can follow the progress of this issue here: https://github.com/RTXteam/RTX/issues/1670

[2021-09-23 14:25] rtroper commented on #290
Yeah, no problem, here you go:

NGD edges N1, N2, N3: https://arax.ncats.io/?r=27472
NGD edges N1, N2: https://arax.ncats.io/?r=27476
NGD edges N2, N3: https://arax.ncats.io/?r=27481

[2021-09-23 14:25] rtroper commented on #289
Yeah, definitely. Thanks for adding that.

[2021-09-23 14:55] cbizon commented on #229
Yes

[2021-09-23 14:55] #229 closed

[2021-09-23 14:55] cbizon commented on #233
Yes

[2021-09-23 14:55] #233 closed

[2021-09-23 15:29] edeutsch commented on #214
KG2.7.3 was deployed yesterday and the problem appears to be fixed:
https://arax.ncats.io/devLM/?r=27544
Edges no longer go both directions. Okay to close if you are satisfied with the new results.

[2021-09-23 16:28] vgardner-renci opened #294 "Correct mapping of MESH:C469407 in COHD"
In COHD, we have a strong link between MS and natalizumab, but unfortunately we're mapping natalizumab to MESH:C469407 which is apparently an obsolete identifier. MESH:C469407 is in SRI Node Norm as biolink:ChemicalEntity, and not SmallMolecule. So COHD will currently return natalizumab if queried against CHemicalEntity, but not SmallMolecule. We wouldn't be able to fix the mappings before the Rel

[2021-09-23 16:31] vgardner-renci opened #295 "Too many curies hitting a KP at once"
There is an issue of sending multiple versions of a curie to a KP at once. Is it possible to remove duplicate nodes being passed?

[2021-09-23 17:50] rtroper commented on #290
In today's minihackathon, there was discussion about not including the workflow section with overlays so that other ARAs can have a chance to respond to this query. @edeutsch noted that ARAX should (under most circumstances, I believe) impose the overlays anyway, even if not explicitly included in the query as an overlay operation.

I just tested this: https://arax.ncats.io/?source=ARS&id=9dce8294

[2021-09-23 17:51] CaseyTa commented on #294
This may not be an issue only on the COHD side of things.

Using SRI Node Resolution Lookup service, we find the following potentials:
[code]

It looks like `MESH:D000069442` is the appropriate CURIE to use: https://meshb.nlm.nih.gov/record/ui?ui=D000069442, but
SRI Node Norm has `MESH:C469407` instead of `MESH:D000069442`, and we rely on Node Norm.

Node norm response:
[code]

And as @cbizon poin

[2021-09-23 18:25] cbizon commented on #294
Agreed, this looks like an issue for NN

[2021-09-23 18:28] edeutsch commented on #290
Thanks, Ryan. The problem is that the ARAX QueryGraphInterpreter is having trouble understanding the graph and where to put the NGD edges, so it doesn't put them anywhere. (I note that in the above conversation the humans are also struggling with the same thing!)
So this needs to be solved somehow.
The best idea I can come up with is to have the QGI put an NGD edge in parallel with all the existin

[2021-09-23 18:51] jh111 commented on #294
Is there a general way to search for obsolete ids?

[2021-09-23 19:13] mbrush opened #296 "Clarify Semantics of CIViC data provided by SPOKE"
Spin off of a tangential question that arose in #246, namely:

Rather than copy all discussion from that ticket, please pick up the thread on this topic at [this comment](https://github.com/NCATSTranslator/minihackathons/issues/240#issuecomment-921144221), and continue discussion below.  The concluding thought from @brettasmi that ticket to work from here was:

Ball is in your court @karthiksoman.

[2021-09-23 19:40] cbizon commented on #295
https://github.com/ranking-agent/strider/issues/294

[2021-09-23 19:41] cbizon commented on #295
are there other ARAs that are doing this or is it just ARAGORN?   @edeutsch ?

[2021-09-23 19:48] edeutsch commented on #295
ARAX has been doing this as well. Issue has been filed and will be addressed:
https://github.com/RTXteam/RTX/issues/1674

[2021-09-23 20:18] rtroper commented on #295
This might be related: https://github.com/NCATSTranslator/minihackathons/issues/289

[2021-09-24 16:57] CaseyTa commented on #294
@jh111 In this case, the label has `[OBSOLETE]` in the name, so that makes it easy.

But regarding Workflow C, fixing the obsolete mapping won't help if the query is against `biolink:SmallMolecule` and if natalizumab is not considered a `biolink:SmallMolecule`. The query may need to be opened up to `biolink:ChemicalEntity` if you want to capture natalizumab.

[2021-09-24 20:11] jh111 opened #299 "Filtering and ranking by edge properties"
In Demo C queries C1 and C3, we are querying for the predicate has_real_world_evidence_of_association_with.

For the Demo query C1, we would like to filter and sort by the following two edge properties.
  Include: Edge property feature_coefficient, > 0, sort highest to lowest
  Include: Edge property relative_frequency, > 0, sort highest to lowest

For Demo query C3, we would like to filter and so

[2021-09-24 20:12] rtroper commented on #290
_**TL/DR** - Following up on an idea mentioned in the minihackathon yesterday (which I'm not sure I understood very well) to see if we could pursue the option of having the ARS send out queries to ARAs with NGD overlays specified in a workflow section._

@dkoslicki @edeutsch @MarkDWilliams @cbizon @jh111 - I'm not sure of the best place to have this conversation (or the specific people to ping), s

[2021-09-24 20:21] rtroper commented on #299
Just a couple of notes. The predicate `has_real_world_evidence_of_association_with` is actually only used in query C1. For query C3, we use the broad `related_to` predicate, because we want to capture all edges between two CURIE-specified nodes. So far, for query C3, we haven't been overwhelmed by results, so filtering/ranking might not be as crucial on that one. But, for query C1, we could defini

[2021-09-24 20:24] rtroper commented on #289
Just noting an update on this: https://github.com/RTXteam/RTX/issues/1674#issuecomment-926348287. This has improved response time for the clinical risk KP from >30 seconds to ~10 seconds. Once the change has been pushed to production, we should be able to close this issue here.

[2021-09-24 23:13] jh111 commented on #299
Thank you. I should have said C4.  We can query has_real_world_evidence_of_association_with to see whether a potential treatment is used in patients with a disease. A negative value for relative_frequency might suggest the drug is contraindicated for those patients.

C1 is higher priority at this time for the relay.

[2021-09-24 23:21] edeutsch commented on #289
New (and all latest) code is now in production. Queries are definitely faster:
![image](https://user-images.githubusercontent.com/12707718/134748756-00699278-e0a6-4326-bb55-823ecf41e886.png)

Mechanism to increase query time is also in place on production.
Closing.

[2021-09-24 23:21] #289 closed

[2021-09-24 23:32] webyrd commented on #101
After further investigation, this looks like a server (probably Kubernetes) configuration issue.  We probably need to work out the problem with ITRB.  Seems like there is a 60-second timeout from Kubernetes.

When I run the query locally, using light-weight reasoning, the query returns in 6 minutes.  with 50 results.

[2021-09-25 00:48] webyrd commented on #88
This query is a true server-side timeout after 10 minutes.  On production, the client will currently timeout after 60 seconds, due to a Kubernetes configuration problem that we are trying to track down with ITRB.

We are investigating how to make this query faster.

[2021-09-25 01:10] webyrd commented on #101
Jeff sent an email to ITRB explaining the problem:

"We think the dropped connection may be due to idle timeout, for which AWS ALB has a default of 60 seconds.
...
In deploy/ingress.yaml I have changed the following parameter according to the AWS kubernetes documentation, but it seems to have no effect:

    alb.ingress.kubernetes.io/load-balancer-attributes: idle_timeout.timeout_seconds=660

I al

[2021-09-25 02:10] webyrd commented on #183
Re-running this query both locally and production, the query succeeds.  On production the query succeeds in ~46 seconds, with 2 results:

[code]

I can't reproduce the JSON parsing error.

MolePro is currently down.  Unless MolePro is producing illegal JSON, I don't know why our server would be returning this error.  For now, at least, the issue doesn't seem to be occurring, and we are getting res

[2021-09-27 06:42] webyrd commented on #184
When running both locally and against production, I no longer get parse errors.

Running against production succeeds with 0 answers after 7 seconds.

Running locally, against a slightly old version of RTX KG2, returns 153 answers after ~30 seconds.

I will investigate what is the difference between production and my local server.

[2021-09-27 07:27] aj95b commented on #115
Is this (and https://github.com/NCATSTranslator/minihackathons/issues/108) expected to be resolved anytime soon? Adding ClinicalFinding (LOINC:LOINC:2276-4) for n3 and perhaps changing biolink:SmallMolecule to MolecularEntity for n1 (from the current form of this query in minihackathon repo) can uncover important results form Multiomics Wellness KP. @gglusman @rtroper

[2021-09-27 15:40] jh111 opened #301 "Add filter for non-cytotoxic medications"
In Demo C, it will be valuable for the user to either rank cytotoxic drugs lower, or filter them out.
@rtroper
@dkoslicki May we get your assistance setting this up through the ARS?

[2021-09-27 16:20] nlharris opened #302 "Add README"
This workflow would benefit from a README that explains what the workflow is, like Workflows B-D have (e.g., https://github.com/NCATSTranslator/minihackathons/tree/main/2021-12_demo/workflowD)

If the description of Workflow A exists elsewhere, the README could just point to that.

[2021-09-27 16:34] webyrd commented on #101
ITRB seems to have fixed the timeout issue.  I will test with the updated timeout once today's hackathon session is over.

[2021-09-27 18:07] andrewsu commented on #115
After some final tweaks, BTE is returning results now: https://arax.ncats.io/?r=63625138-dbc5-48b0-8ba1-9db46271a3a4

![image](https://user-images.githubusercontent.com/2635409/134961370-07208af6-8d8a-4c4a-9219-547b32ecfc1e.png)

Some results appear to be coming back from the Multiomics Wellness KP.  Can you confirm things are working as expected from your end?

![image](https://user-images.github

[2021-09-27 18:11] rtroper opened #305 "Spurious query C.2 results for systemic scleroderma"
Query C.2 was run using systemic scleroderma (MONDO:0005100) as the disease node and tocilizumab (CHEMBL.COMPOUND:CHEMBL1237022) as the specified drug node. Results are here: https://arax.ncats.io/?r=27582.

Several result graphs legitimately contain systemic scleroderma e.g. see Results 3 - 5 (methotrexate, prednisone, cyclophosphamide). However, there are also several results that have other dis

[2021-09-27 18:31] dkoslicki commented on #305
@amykglen Is this a Genetics Provider issue? In spot checking, it appears that all the spurious edges are from them, and not from RTX-KG2. @NCATSTranslator/genetics-provider Are you aware of this error?

@amykglen , perhaps a quick fix is to have `expand` check if the returned results are synonymous with the node given in the input query.

[2021-09-27 18:36] aj95b commented on #115
Were these results from the query above or the one here https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowD/D.6_metformin-ferritin.json (or a modification of this one as suggested in my previous comment)?

[2021-09-27 18:43] andrewsu commented on #115
these were from the version of D.6 in the github repo. On your suggestion, I'm not sure how/why adding a `ClinicalFinding` on `n3` (which is a `biolink:Protein` in the original query) would be useful, and `n1` is a `biolink:Protein` not a `biolink:SmallMolecule`.  So I'm not sure I understand your suggestion.  Regardless, you are welcome to tweak the TRAPI query as you see fit and post it either t

[2021-09-27 18:49] andrewsu commented on #100
BTE is now returning results as expected: https://arax.ncats.io/?r=dc5ab60f-7817-4c29-97d8-5e6948a1013c

![image](https://user-images.githubusercontent.com/2635409/134967313-448d835b-b777-4865-9fe9-e9687bf0fe07.png)

[2021-09-27 18:50] sierra-moxon commented on #115
@aj95b - if its not too much trouble, would you mind giving me a flavor of the kinds of answers to the question asked by this workflow, that you could provide?  From a data modeling/conflation point of view, it would be helpful to get your perspective on a question that can be answered with both Ferritin as a protein and as a phenotype (phenotypic feature as a parent of clinical finding).  thx in

[2021-09-27 18:57] aj95b commented on #115
@andrewsu I am sorry, I meant n0 not n1 to be changed into `MolecularEntity` (it seems to be returning results from your end regardless though). I am trying to run the query from scratch on my end, it is taking a while, I'll get back as soon as I can confirm. I am doing this because last time it returned an Error 598 on my end.

@sierra-moxon Yes, I am running the modification of the query (and ju

[2021-09-27 19:05] amykglen commented on #305
yes, I concur with @dkoslicki that this seems to be a Genetics KP issue.

one problem with @dkoslicki's proposed patch is that they could be rightfully returning some diseases that are subclasses of systemic sclerodoma, and our synonymization wouldn't know that those are OK. though I suppose we could accept throwing those out as part of the temporary patch.

does anyone at Genetics KP have an esti

[2021-09-27 19:07] marcdubybroad commented on #305
I'll look into this after the 3pm meeting.

[2021-09-27 19:09] marcdubybroad commented on #305
We do have an issue where we return the original submitted curie but return the descendant disease name which we are in process of fixing. Could this be causing this issue?

[2021-09-27 19:11] dkoslicki commented on #305
@marcdubybroad I don't think descendants is the issue here: these diseases are not descendants of scleroderma

[2021-09-27 19:21] marcdubybroad commented on #305
If I submit the following one hop query to the genetics kp, I get no results returned. I assume that other curies are being provided to the genetics kp. Does anyone have these?
`  {
    "message": {
      "query_graph": {
        "edges": {
          "e00": {
            "subject": "n00",
            "object": "n01"
          }
        },
        "nodes": {
          "n00": {
            "categori

[2021-09-27 19:21] amykglen commented on #305
yes, here's the problem query (for qedge `e02`): https://arax.ncats.io/api/arax/v1.2/status?id=21952

[2021-09-27 19:52] marcdubybroad commented on #305
Fixed and deployed.
Will create a unit test for this issue for future integration testing.

[2021-09-27 19:59] amykglen commented on #305
awesome, thanks @marcdubybroad! confirmed the problem appears resolved in the larger ARAX query: https://arax.ncats.io/?r=27989 (looks like Genetics KP doesn't find any answers for `e02`)

think this issue should be good to close, @rtroper?

[2021-09-27 21:10] rtroper commented on #305
Excellent, thank you, everyone! That was fast. The results look great now. I'll go ahead and close it.

[2021-09-27 21:10] #305 closed

[2021-09-28 04:53] aj95b commented on #115
@andrewsu Confirming the results

[2021-09-28 05:48] vdancik commented on #163
MolePro's TRAPI 1.2 now provides node annotation and will respond to query below:

[code]

[2021-09-28 17:21] balhoff commented on #232
I can't get to the query anymore.

[2021-09-28 18:07] CaseyTa opened #307 "Workflow B: ARAX not calling MolePro on (gene)-[interacts with]-(chemical entity)"
MolePro is a potential source of information for the 3rd hop of Workflow B (query below). However, ARAX's expansion results UI says that MolePro doesn't support this edge: https://arax.ncats.io/?r=28066.

MolePro has the following in its MetaKG:

[code]

`biolink:directly_interacts_with` is symmetric, but the inverse edge is not present in MolePro's MetaKG. I'm not sure if this should potentially

[2021-09-29 14:50] vgardner-renci commented on #302
@nlharris I've assigned to Chris. He's aware.

[2021-09-29 17:52] vdancik commented on #307
@CaseyTa, indeed we have an issue with our metaKG - MolePro will return results for the following query, yet it does not include **Gene-directly_interacts_with-SmallMolecule** metaKG entry. We are going to fix that.

[code]

[2021-09-29 23:19] mbrush commented on #296
On the [SPOKE documentation](https://www.cgl.ucsf.edu/home/meng/spoke/docs/index.html), these CIViC based associations are framed as "Compound - affects - (mutant)Gene" Associations, and grouped alongside associations based on ClinicalTrials.gov and GDSC. When we address the question of CIViC statement semantics, we should also look at that of associations based on CT.org and GDSC data.

[2021-09-30 18:52] karafecho opened #312 "Workflow B: alternative query structures for B.1 three-hop"
This issue is to consider alternative query structures for the three-hop B.1 query. Possibilites that were suggested during the Sept 2021 mini-relay session include:

- Replace DiseaseOrPhenotypicFeature with Disease OR Phenotypic Feature
- DILI - DiseaseOrPhenotypicFeature - [set of five genes associated with increased susceptibility to DILI]
- Replace Gene with Protein
- Remove Gene node entirel

[2021-09-30 18:55] karafecho opened #313 "Workflow B: SemMedDB "Novelty" constraint"
This issue is to follow up on Andrew Su's suggestion to consider ways to leverage SemMedDB's "Novelty" constraint by setting it to Novelty=0 either in the query itself or via another approach.

[2021-09-30 19:07] karafecho opened #314 "Workflow B: sytematically troubleshoot B.1 three-hop"
The workflow B.1 three-hop queries are no longer returning expected results that were interesting, such as dexamethasone, resveratrol, silybin, and prednisone. This issue is to suggest a systematic approach to troubleshooting, perhaps by working backward and/or forward and testing each individual one-hop query.

[2021-09-30 20:01] andrewsu commented on #313
Just some quick notes about how we can check whether this is likely to have much/any impact before we actually write any additional code.

I believe the issue to be addressed can be seen in the [ARAX response](https://arax.ncats.io/?r=28334) for [Query B.1](https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowB/B.1_DILI-three-hop-interacts-with.json).  The observation i

[2021-09-30 20:19] karafecho opened #315 "Workflow B: answer ranking"
This issue is to consider approaches to improve ranking or prioritization of answers by leveraging confidence, pub support, relevance vs usefulness, etc. To be discussed by the Architecture Committee.

[2021-09-30 20:25] karafecho commented on #314
Comment: The B.1 ARS and/or ARAX queries I ran during the week of September 13 returned dexamethasone, resveratrol, silybin, curcumin, and dextran sulfate, which are all of interest (the first three more than the last two). Methylprednisone was returned by direct ARAGORN query. I saved all PKs and ARAX response keys, as well as additional notes, in my running weekly progress report on Workflow B.

[2021-09-30 22:04] karafecho opened #317 "Workflow B: ARAX not sending >100 input CURIES during expansion"
This issue is to report that ARAX is not calling KPs when there are more than 100 input CURIEs in the expansion.

[2021-09-30 22:07] dkoslicki commented on #317
Yes, that is by design. We have found that most KPs are not performant enough to handle such queries within the default time-out. So instead of waiting for them to time out, we do not decide to even attempt. @amykglen may have more insight

[2021-10-01 16:10] vdancik commented on #307
MolePro's metaKG now declares both

[code]

and

[code]

[2021-10-01 20:07] CaseyTa opened #319 "Workflow B: ARAX not returning results when e03 predicates = [affects, interacts_with]"
As issue has been filed with RTX-KG2 regarding an uncaught exception on the 3rd hop of the Workflow B query when using both `biolink:affects` and `biolink:interacts_with` in the predicates: https://github.com/RTXteam/RTX-KG2/issues/160

This issue was created for @CaseyTa to track how this RTX-KG2 issue may affect Workflow B

[2021-10-01 20:11] CaseyTa commented on #307
Thanks, @vdancik!

[2021-10-01 20:11] #307 closed

[2021-10-04 15:31] karafecho commented on #317
Yes, I understand that the restriction is by design. I'm wondering, however, if you might be able to suggest a workaround that would allow ARAX to pull in additional KPs, or is this strictly a KP issue?

[2021-10-05 16:54] dkoslicki commented on #317
I think it's mainly a KP performance issue, but @amykglen may be able to shed more light on possible workarounds.

[2021-10-05 18:19] amykglen commented on #317
yes, we're going to discuss this at our team meeting tomorrow - will post back here after that.

[2021-10-05 19:49] karafecho commented on #317
Great! Thanks, David and Amy!

[2021-10-07 13:52] #201 closed

[2021-10-07 13:54] vgardner-renci commented on #210
Query retired from WF-A

[2021-10-07 13:55] #203 closed, assigned to Rosinaweber

[2021-10-07 13:56] #207 closed, assigned to cbizon

[2021-10-07 14:02] #276 closed

[2021-10-08 02:29] amykglen commented on #317
ok, ARAX now sends queries to KPs even if they have >100 input curies. we're also revisiting our default timeouts and expect to increase those within the next week!

[2021-10-08 15:07] karafecho commented on #317
This is great! Thanks, Amy.

[2021-10-08 15:16] vgardner-renci opened #322 "A.0_RHOBTB2_direct.json no results from Aragorn"
Json [here](https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowA/A.0_RHOBTB2_direct.json)

https://arax.ncats.io/?r=e30aa77e-741f-4e97-81d9-d8c76942a729

ARAGORN Dev Info here
[code]

[2021-10-08 15:22] vgardner-renci opened #323 "A.0_RHOBTB2_direct.json no results from ARAX"
Json [here](https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowA/A.0_RHOBTB2_direct.json)

https://arax.ncats.io/?r=e30aa77e-741f-4e97-81d9-d8c76942a729

ARAX response PK https://arax.ncats.io/?r=29397

[2021-10-08 15:24] vgardner-renci opened #324 "A.0_RHOBTB2_direct.json no results from BTE"
Json [here](https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowA/A.0_RHOBTB2_direct.json)

https://arax.ncats.io/?r=e30aa77e-741f-4e97-81d9-d8c76942a729

BTE Response PK https://arax.ncats.io/?r=92c5c6a4-16da-449b-bd18-531259fb5f98

[2021-10-08 15:29] vgardner-renci opened #325 "A.0_RHOBTB2_direct.json no results from Explanatory"
Json [here](https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowA/A.0_RHOBTB2_direct.json)

https://arax.ncats.io/?r=e30aa77e-741f-4e97-81d9-d8c76942a729

Explanatory response PK [here](https://arax.ncats.io/?r=c2623f3f-b127-45f7-acae-517d82afcd57)

[2021-10-08 15:46] vgardner-renci opened #326 "A.0_RHOBTB2_direct.json 598 error from Unsecret"
Json [here](https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowA/A.0_RHOBTB2_direct.json)

Unsecret response PK https://arax.ncats.io/?r=80bcfd29-4e25-4153-986f-26a2d41fe50a

[code]

[2021-10-08 15:54] vgardner-renci opened #327 "A.0_RHOBTB2_direct_inverse.json no results from Improving"
Json [here](https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowA/A.0_RHOBTB2_direct_inverse.json)

https://arax.ncats.io/?r=2039ae00-acff-4f4c-ab4e-1d6c2135a71b

[code]

[2021-10-08 17:19] vgardner-renci opened #328 "A.2_RHOBTB2_twohop.json no results from Aragorn"
Json [here](https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowA/A.2_RHOBTB2_twohop.json)

https://arax.ncats.io/?r=a79f3917-3a63-4f90-83b8-8e4ba1235a02

Aragorn Json response
[code]

[2021-10-08 18:44] vgardner-renci opened #329 "A.2a_expanded_RHOBTB2_twohop.json no results from Explanatory"
https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowA/A.2a_expanded_RHOBTB2_twohop.json

https://arax.ncats.io/?r=2bd01f98-9a17-401c-b20a-d1fc987d0ee2

Explanatory response PK https://arax.ncats.io/?r=cf64a97c-f50a-455f-9241-5e87c6400399

[2021-10-08 18:52] vgardner-renci opened #330 "A.2a_expanded_RHOBTB2_twohop.json no results from Improving"
https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowA/A.2a_expanded_RHOBTB2_twohop.json

https://arax.ncats.io/?r=2bd01f98-9a17-401c-b20a-d1fc987d0ee2

Improving response json

[code]

[2021-10-09 00:11] saramsey commented on #323
Hello @vgardner-renci we will be working this issue in [RTX Issue 1698](https://github.com/RTXteam/RTX/issues/1698).

[2021-10-13 01:30] jh111 commented on #301
@edeutsch Do you have suggestions on how we might proceed?

[2021-10-13 01:32] jh111 commented on #290
Thanks for the solution. The following is working well through ARS.
{
    "message": {
        "query_graph": {
            "nodes": {
                "n0": {
                    "categories": [
                        "biolink:Gene"
                    ],
                    "is_set": true,
                    "constraints": []
                },
                "n1": {
                    "ids":

[2021-10-14 05:00] jh111 commented on #37
@webyrd
The current results are returning 0 instead of an error. We expect results to be returned by Unsecret Agent from (Multiomics) EHR Risk KP or (COHD) Clinical Data Provider and possibly by Connections Hypothesis Provider (depending on how you rank those results).

[2021-10-21 15:24] #51 closed

[2021-10-25 22:19] aj95b opened #346 "Query D.6"
There was an inclination to include Ferritin as a biolink:ClinicalFinding as well, but the minihackathon repo still only includes biolink:Protein
@brettasmi @suihuang-ISB @gglusman

[2021-10-28 16:04] vgardner-renci opened #347 "Query C10.b error 598 for ARAX"
Full https://arax.ncats.io/?r=2df39160-c2a2-4d52-bb54-730e2c2b049f
ARAX https://arax.ncats.io/?r=0cd186b0-3510-4fa0-a6e9-7092fb8d2246

[code]

[2021-10-28 16:07] vgardner-renci opened #348 "Query C10.b only 4 results for BTE (related to TextMiner)"
Full https://arax.ncats.io/?r=2df39160-c2a2-4d52-bb54-730e2c2b049f
BTE https://arax.ncats.io/?r=2df39160-c2a2-4d52-bb54-730e2c2b049f

[code]

[2021-10-28 16:08] vgardner-renci opened #349 "Query C10.b no results for Explanatory"
Full https://arax.ncats.io/?r=2df39160-c2a2-4d52-bb54-730e2c2b049f
Expl https://arax.ncats.io/?r=03318021-65cd-424a-96e9-b2b7f350c098

[code]

[2021-10-28 16:10] vgardner-renci opened #350 "Query C10.b no results for Improving"
Full https://arax.ncats.io/?r=2df39160-c2a2-4d52-bb54-730e2c2b049f
Improving https://arax.ncats.io/?r=bb3290eb-b538-4867-a008-8e096f5f0658

[code]

[2021-10-28 16:11] vgardner-renci opened #351 "Query C10.b no results for Unsecret"
Full https://arax.ncats.io/?r=2df39160-c2a2-4d52-bb54-730e2c2b049f
Unsecret https://arax.ncats.io/?r=4bf66602-12b0-4343-87ad-684ab58545b0

[code]

[2021-11-03 03:45] jh111 opened #353 "Retinal (small chemical) conflated with retinal (related to retina in the eye)"
https://arax.ncats.io/?r=39898984-ca47-43e3-8524-bee3c5db2b59

The first answer, retina, is combining two meanings of the word retinal

- related to retina in the eye
- 11-cis-retinal (called retinal for short)

[2021-11-10 20:45] Rosinaweber commented on #78
Explanatory Agent produces results for all WKFL B queries as of 11/10/2021

[2021-11-10 20:45] #78 closed

[2021-11-17 22:38] gglusman commented on #115
@andrewsu @colleenXu @andrewsu @edeutsch Any idea what the issue is here? Thanks!

[2021-11-17 22:57] edeutsch commented on #115
I'm afraid I don't really understand the thread here. I do note from the TRAPI above that this:
[code]
will not work if sent to our /asyncquey

[2021-11-18 06:19] andrewsu commented on #115
So I just reran the query (the [D.6 query in the github repo](https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowD/D.6_metformin-ferritin.json)) against the asyncquery endpoint for BTE, and the results can be downloaded here: http://api.bte.ncats.io/v1/check_query_status/3leuzKk8av.  There are 217 results, and 278 nodes and 774 edges in the knowledge_graph.  The overa

[2021-11-18 09:54] aj95b commented on #115
I ran the query, after hours BTE status code still says Running/200. Basically, Multiomics Wellness has edges that should be returned as results via BTE too.

[2021-11-18 19:39] andrewsu commented on #115
@aj95b yes, there are some issues right now that lead to timeout errors.  It someone finishes just fine (like the job linked in my last comment), but often not...  We are looking into it...

For the successful job linked above, in the logs I can see that the multiomics wellness KP is being called and BTE is retrieving results (e.g., https://biothings.ncats.io/multiomics_wellness_kp/query?q=subject

[2021-11-18 20:53] brettasmi commented on #115
FWIW, during recent discussions with the NCATS folks running the demo and the recent minihackathon sessions, we've decided to mostly focus on query D.4 and some derivatives. As such, I don't think D.6 will be run during the demo.

That said, we have been testing a similar query to link tryptophan and kynurenine in a query similar to this one ([it's the green edge in this figure](https://github.com

[2021-11-19 02:24] #299 closed

[2021-11-19 02:25] jh111 commented on #299
We will not include this in the demo, as not all ARA's support overlays at this time.

[2021-11-19 02:28] jh111 commented on #278
This was addressed through development of a revised queries for Demo C.

[2021-11-19 02:28] #278 closed

[2021-11-19 02:31] jh111 commented on #52
Demo C has been revised. Unsecret is not responding to queries.
All three queries (existing ARS links and JSON queries) can be found here.

[2021-11-19 02:58] jh111 commented on #41
@brettasmi
This is not blocking the demo, so I'm removing the demoscript tag. I'm leaving it open as you may want to address it in the future.

[2021-11-19 03:17] jh111 commented on #50
@cbizon
With the [current Demo C](https://github.com/NCATSTranslator/minihackathons/blob/main/2021-12_demo/workflowC/README.md) Aragorn is now returning responses. I have not been able to view results on my browser/system, likely because the results are large (Aw, snap error). @cbizon Can you confirm the results are working on your system? If so, we can close this issue.

[2021-11-19 03:22] jh111 commented on #353
Removing Demo C label because the Demo C queries have changed. However, this is still an issue worth fixing. @cmungall Can you recommend who I should assign this to?

[2021-11-19 05:08] dkoslicki commented on #299
@jh111 quick question: do you intend not to run any workflow that has operations that can't be done by each ARA? Currently, the different ARAs (and KPs for that matter) have their "specialties" so the Venn diagram of operations/queries that _every_ component or ARA can respond to is rather small. Is it beneficial to limit the demo to only those queries that each component can respond to?

[2021-11-19 05:13] jh111 commented on #299
ARAs that can't run an overlay should just run without it. Unfortunately, my understanding is that at this time some ARAs won't run at all when there's an overlay. This is why I removed them from the Dec demos.

[2021-11-21 06:54] aj95b commented on #115
@brettasmi There are results from Multiomics Wellness via ARAX for query D.6, there could be even more results (not saying they would all be relevant) but there is a limitation on one of the interim edges that were expected to be returned via BTE

[2021-11-23 05:53] andrewsu opened #363 "Query on async endpoint failing where sync endpoint succeeds"
When I run the query pasted below on my local instance using the sync endpoint, I get a file with 7293 results, 691 nodes, 9927 edges.  The query completes in ~18 minutes.  The timing and the result/node/edge counts are consistent -- exact same results 3 times over 2 days.  However, when I run the query via my local asyncquery endpoint, the query fails.  This is the tail end of the console output:

[2021-11-23 05:54] andrewsu commented on #363
argh opened this issue on the wrong repo... 🤦‍♂️

[2021-11-23 05:54] #363 closed

[2021-12-10 04:18] jh111 opened #371 "Aragorn no longer working for Workflow C1"
Workflow [C1](https://github.com/NCATSTranslator/minihackathons/tree/main/2021-12_demo/workflowC) returns Error 598 for Aragorn

Retrieving response id = c6d5a7f7-da85-41fc-9e67-1d60536c90f4 ...from cache
TRAPI v1.2.0 validation: NA
Returned response is not TRAPI:
502 Bad Gateway
nginx

[2021-12-12 00:39] jh111 opened #373 "ARAX queries show 0 results in Chrome"
ARAX shows different answers in Firefox than Chrome. For example, Query C1 shows the following [results](https://arax.ncats.io/?r=3c4ee24f-229d-435b-b34f-fbba6ac90b2f).

Firefox shows
![image](https://user-images.githubusercontent.com/25163472/145696179-e6be9f38-8b04-4117-a9b6-dcb367c47662.png)

Chrome shows
![image](https://user-images.githubusercontent.com/25163472/145696193-c3ba0f1d-2386-4f75-b

[2021-12-12 06:55] edeutsch commented on #373
It looks like the master UUID can be pulled up with this:
https://arax.ncats.io/?r=57562ed8-edd0-4aa4-bfd0-d87f040de56e

When I run on Firefox and Chrome, I get the same:

Firefox:
![image](https://user-images.githubusercontent.com/12707718/145703410-30efecc5-cd09-4028-8454-4567e4f589ad.png)

Chrome:
![image](https://user-images.githubusercontent.com/12707718/145703414-ef33aaa1-de5a-4894-b65e-8544

[2021-12-12 07:40] isbluis commented on #373
As @edeutsch , I also get the same results in both browsers.

Is it possible that the queries were still running when the Chrome screenshot was taken?   If so, it may be that ARS was confused and returned a "Done" status prematurely.  As Eric mentioned, this may happen with asyncqueries.

Do you still see this behavior, @jh111 ?

[2021-12-12 17:55] jh111 commented on #373
@edeutsch @isbluis I now see the full results using that link. When I start a new query, it correctly shows "Asynchronous answering of query underway". If I can reproduce the status where it's says Done prematurely I'll reopen and include the ARS link. Otherwise I'll close this for now.

[2022-02-01 21:30] ehinderer commented on #349
@pg427 has this issue been addressed, along with #329 #325 #124 ?

[2022-02-01 21:37] pg427 commented on #349
@ehinderer Yes. These issues have been resolved. We are returning corresponding results for each of the queries.

[2022-06-01 21:50] nlharris commented on #302
probably moot at this point? close as not planned?

[2022-08-12 23:01] #302 closed

[2022-08-25 21:29] #319 closed